{% extends "layout.html" %}
{% block link %}
<link rel="stylesheet" href="http://127.0.0.1:8000/style_main" crossorigin="anonymous">
{% endblock %}
{% block content %}
<header>
  <div class="header-title">ファイル入出力アプリ</div>
  <div class="header-omake">
    <a href="http://127.0.0.1:8000/admin">ログイン</a>
    <a>新規登録</a>
  </div>
</header>
<main>
  <!-- <div class="main-user">ユーザー名<input class="user-input"></div>
  <div class="main-password">パスワード<input class="password-input"></div> -->
  <div class="submit"><input class="login" type="submit" value="ファイル保存"></div>
  <div class="submit"><input class="login" type="submit" value="ファイル閲覧"></div>
</main>
<footer></footer>
    
  </div>
 
{% endblock %}